<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Posters</h1>
    <%= link_to 'New poster', new_poster_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="posters" class="min-w-full">
    <%= render @posters %>
  </div>
</div>
