<div class="poster">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= @poster.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Author:</strong>
    <%= @poster.author %>
  </p>`
</div>
<style>

.poster {
  <%=@poster.css%>
}
</style>
